ai-document-matching/template.json
{
  "name": "Match packing list PDFs to purchase orders using docling-serve and Ollama",
  "nodes": [
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "document_processor_log",
          "cachedResultUrl": "/projects/1/datatables/1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fileName": "={{ $json.path }}",
            "status": "PENDING"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [-208, -448],
      "id": "2a7035e2-c5f5-4fb8-aa11-0ae150f4f179",
      "name": "Log pending"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5001/v1/convert/file",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "={{ $('Get PDF').item.binary.data }}"
            },
            {
              "name": "force_ocr",
              "value": "true"
            },
            {
              "name": "ocr_engine",
              "value": "rapidocr"
            },
            {
              "name": "ocr_lang",
              "value": "english"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [16, -448],
      "id": "27ffc624-3af8-4dbd-aba8-051a897e7fa1",
      "name": "Post PDF to docling-serve"
    },
    {
      "parameters": {
        "model": "gemma4:12b-mlx",
        "options": {
          "think": false,
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [416, -496],
      "id": "220346cd-0a7a-4dde-9e9e-4d3cb725ac4b",
      "name": "Ollama gemma4:12b",
      "credentials": {
        "ollamaApi": {
          "id": "1",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4c9da9b7-113b-4323-a1ed-849bcac818b7",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [240, -448],
      "id": "7077a6fb-eef6-4bf8-94b3-b674d02135b6",
      "name": "conversion success"
    },
    {
      "parameters": {
        "jsCode": "const purchaseOrder = $('get dummy purchase order').first().json\nconst packingList = $input.first().json\nconst poLines = purchaseOrder.line_items.map(({ sku, quantity }) => ({\n  sku,\n  quantity,\n}));\n\nconst plLines = packingList.line_items.map(({ sku, quantity }) => ({\n  sku,\n  quantity,\n}));\n\nconst allLineResults = poLines.map(({ sku, quantity: poQty }) => {\n  const plItem = plLines.find((item) => item.sku === sku);\n  const plQty = plItem?.quantity ?? null;\n  return {\n    sku,\n    packed: plQty != null,\n    quantity: plQty === poQty,\n    quantityDiff: plQty == null ? null : poQty - plQty,\n  };\n});\n\nconst filteredLines = allLineResults.filter(\n  (line) => !line.packed || !line.quantity,\n);\n\nconst skuCountMatched = poLines.length === plLines.length;\nconst skuTextMatched = allLineResults.every((item) => item.packed);\nconst quantitiesMatched = allLineResults.every((item) => item.quantity);\n\nreturn[\n  {\n    ok: skuCountMatched && skuTextMatched && quantitiesMatched,\n    skuCountMatched,\n    skuTextMatched,\n    quantitiesMatched,\n    diffLines: filteredLines,\n    plLines,\n    poLines,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1312, -688],
      "id": "e723d0ee-384e-4b11-b013-2db80505a9f0",
      "name": "Cross reference"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"file\": \"{{ $('Get PDF').item.json.path }}\",\n  \"status\": \"ERROR\",\n  \"details\": \"Docling conversion failed\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1280, -208],
      "id": "8117a4ee-f48c-41e8-bbc8-505bf7c07fcf",
      "name": "Docling conversion failed"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an OCR correction specialist for product codes and SKUs within structured JSON.\n\n### Step 1 — Find candidates\n\nLook in diffLines for any entry where packed is false.\nThese are SKUs from poLines that were not matched in plLines.\nEach one is a candidate for an OCR error in plLines — the SKU may be present\nbut under a corrupted key.\n\nCollect the list of unmatched SKUs. If none exist, output no corrected false and stop.\nSplit into actualSku (the correct PO SKU) and misreadSku (the corrupted key found in plLines)\n\n### Step 2 — Infer the SKU format\n\nUsing all codes visible across poLines and plLines together, identify the consistent\npattern: segment count, separators, character class per segment (alpha / digit /\nalphanumeric), length per segment, casing convention.\nState the inferred format explicitly. Do not assume any format in advance.\n\n### Step 3 — Find the corrupted key in plLines\n\nFor each unmatched SKU from Step 1:\n\n- Scan plLines for a key that is close to the expected SKU but deviates from the\n  inferred format (wrong length, wrong character class in a segment, mixed casing,\n  extra noise characters)\n- Apply OCR substitution rules to see if that key resolves to the unmatched SKU:\n\n  Letters misread as digits (apply in digit segments):\n  O→0 I→1 l→1 S→5 B→8 G→6 Z→2 g→9 q→9\n\n  Digits misread as letters (apply in alpha segments):\n  0→O 1→I 5→S 8→B 6→G 2→Z\n\n  Noise / merge errors:\n  Extra characters beyond expected segment length → remove\n  rn where m fits → merge\n  vv where w fits → merge\n\n- If a corrupted key heals to exactly the unmatched SKU, it is a confirmed OCR error.\n- If no candidate is found in plLines, the item may be genuinely missing — flag as corrected false and stop.\n",
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1888, -672],
      "id": "2bd53d7e-9a2a-454c-ae23-fb4005d356de",
      "name": "Healing agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.document.md_content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a data mapping specialist. Your single job is to read messy, raw OCR text in Markdown format and normalize it into the requested structure. \n\nApply these transformation rules to the data mapping in the order below:\n\n1. LINE ITEM AGGREGATION: Look across the entire document. If you find multiple separate tables or fragmented data aggregate and merge them into a single, flat list.\n2. Map the quantity to the number of individual product units. Ignore packaging quantities.\n3. SKU ISOLATION: Explicitly split SKUs from their text descriptions. If the OCR has bound them together (e.g., 'A109-Blue Widget' or 'Widget Blue (A109)'), strip out the code and map it strictly to the SKU field, leaving only the clean name in the description field.\n4. GEOGRAPHIC SPLITTING: Look at address rows. Parse and extract the city/place name from the numerical postal or ZIP code. Do not leave them combined in a single string.\n\nYou must respond in JSON. Example output:\n{\n    \"po_number\": \"PO-00001\",\n    \"pl_date\": \"2026-01-15\",\n    \"vendor\": {\n        \"company_name\": \"Supplies Co.\",\n        \"contact\": \"Jane Smith\",\n        \"email\": \"jane.smith@supplies.example\",\n        \"address\": {\n            \"address\": \"123 Commerce Ave\",\n            \"postal_code\": \"10001\",\n            \"city\": \"New York\",\n            \"country\": \"United States\",\n        },\n    },\n    \"ship_to\": {\n        \"company_name\": \"Global Retail Inc.\",\n        \"contact\": \"John Doe\",\n        \"email\": \"john.doe@globalretail.example\",\n        \"address\": {\n            \"address\": \"456 Distribution Blvd\",\n            \"postal_code\": \"75001\",\n            \"city\": \"Paris\",\n            \"country\": \"France\",\n        },\n    },\n    \"line_items\": [\n        {\"sku\": \"ABC-1234-XX\", \"description\": \"Sample Product A\", \"quantity\": 100},\n        {\"sku\": \"DEF-5678-YY\", \"description\": \"Sample Product B\", \"quantity\": 250},\n        {\"sku\": \"GHI-9012-ZZ\", \"description\": \"Sample Product C\", \"quantity\": 50},\n        {\"sku\": \"GHI-9012-AA\", \"description\": \"Sample Product X\", \"quantity\": 950},\n    ],\n    \"notes\": \"Handle with care. Store in a cool, dry place.\",\n}",
          "enableStreaming": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [448, -672],
      "id": "6fc9ce17-fd11-4135-b35e-2bf649b37bfd",
      "name": "Extraction agent"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"file\": \"{{ $('Get PDF').item.json.path }}\",\n  \"status\": \"ERROR\",\n\"details\":{{ JSON.stringify($('Cross reference').item.json) }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1776, -272],
      "id": "31e85bd4-c387-43e8-83de-d6c79abeeee6",
      "name": "Cross referencing failed"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"properties\": {\n    \"corrected\": { \"type\": \"boolean\" },\n    \"candidates\": {\n      \"type\": \"array\",\n      \"title\": \"Candidates\",\n      \"items\": {\n        \"type\": \"object\",\n        \"title\": \"CandidateItem\",\n        \"required\": [\"actualSku\", \"misreadSku\"],\n        \"properties\": {\n          \"actualSku\": {\n            \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n            \"title\": \"Sku\"\n          },\n          \"misreadSku\": {\n            \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n            \"title\": \"Sku\"\n          },\n          \"format\": {\n            \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n            \"title\": \"Format\"\n          },\n          \"analysis\": {\n            \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n            \"title\": \"Analysis\"\n          },\n          \"correction\": {\n            \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n            \"title\": \"Correction\"\n          }\n        }\n      }\n    }\n  },\n  \"required\": [\"corrected\", \"line_items\", \"candidates\"],\n  \"title\": \"HealingAgentResult\",\n  \"type\": \"object\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [2112, -512],
      "id": "443a468f-4305-48f4-ba48-e58375fb83b1",
      "name": "Healing Agent Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"properties\": {\n    \"po_number\": { \"title\": \"Po Number\", \"type\": \"string\" },\n    \"pl_date\": { \"format\": \"date\", \"title\": \"Pl Date\", \"type\": \"string\" },\n    \"vendor\": {\n      \"properties\": {\n        \"company_name\": {\n          \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n          \"title\": \"Company Name\"\n        },\n        \"contact\": {\n          \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n          \"title\": \"Contact\"\n        },\n        \"email\": {\n          \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n          \"title\": \"Email\"\n        },\n        \"address\": {\n          \"anyOf\": [\n            {\n              \"properties\": {\n                \"address\": {\n                  \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n                  \"title\": \"Address\"\n                },\n                \"postal_code\": {\n                  \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n                  \"title\": \"Postal Code\"\n                },\n                \"city\": {\n                  \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n                  \"title\": \"City\"\n                },\n                \"country\": {\n                  \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n                  \"title\": \"Country\"\n                }\n              },\n              \"required\": [\"address\", \"postal_code\", \"city\", \"country\"],\n              \"title\": \"Address\",\n              \"type\": \"object\"\n            },\n            { \"type\": \"null\" }\n          ]\n        }\n      },\n      \"required\": [\"company_name\", \"contact\", \"email\", \"address\"],\n      \"title\": \"Party\",\n      \"type\": \"object\"\n    },\n    \"ship_to\": {\n      \"properties\": {\n        \"company_name\": {\n          \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n          \"title\": \"Company Name\"\n        },\n        \"contact\": {\n          \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n          \"title\": \"Contact\"\n        },\n        \"email\": {\n          \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n          \"title\": \"Email\"\n        },\n        \"address\": {\n          \"anyOf\": [\n            {\n              \"properties\": {\n                \"address\": {\n                  \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n                  \"title\": \"Address\"\n                },\n                \"postal_code\": {\n                  \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n                  \"title\": \"Postal Code\"\n                },\n                \"city\": {\n                  \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n                  \"title\": \"City\"\n                },\n                \"country\": {\n                  \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n                  \"title\": \"Country\"\n                }\n              },\n              \"required\": [\"address\", \"postal_code\", \"city\", \"country\"],\n              \"title\": \"Address\",\n              \"type\": \"object\"\n            },\n            { \"type\": \"null\" }\n          ]\n        }\n      },\n      \"required\": [\"company_name\", \"contact\", \"email\", \"address\"],\n      \"title\": \"Party\",\n      \"type\": \"object\"\n    },\n    \"line_items\": {\n      \"items\": {\n        \"properties\": {\n          \"sku\": {\n            \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n            \"title\": \"Sku\"\n          },\n          \"description\": {\n            \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n            \"title\": \"Description\"\n          },\n          \"quantity\": {\n            \"anyOf\": [{ \"type\": \"integer\" }, { \"type\": \"null\" }],\n            \"title\": \"Quantity\"\n          }\n        },\n        \"required\": [\"sku\", \"description\", \"quantity\"],\n        \"title\": \"PackingLineItem\",\n        \"type\": \"object\"\n      },\n      \"title\": \"Line Items\",\n      \"type\": \"array\"\n    },\n    \"notes\": {\n      \"anyOf\": [{ \"type\": \"string\" }, { \"type\": \"null\" }],\n      \"title\": \"Notes\"\n    }\n  },\n  \"required\": [\n    \"po_number\",\n    \"pl_date\",\n    \"vendor\",\n    \"ship_to\",\n    \"line_items\",\n    \"notes\"\n  ],\n  \"title\": \"PackingList\",\n  \"type\": \"object\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [672, -512],
      "id": "3eb93980-0fd4-48d5-a23b-fe3aa3137f4c",
      "name": "Extraction Agent Output Parser"
    },
    {
      "parameters": {
        "jsCode": "const candidates = $('Has candidates').first().json.output.candidates;\nconst packingList = $('Extraction agent').first().json.output;\n\nconst replacements = Object.fromEntries(\n  candidates.map(c => [c.misreadSku, c.actualSku])\n);\n\nfor (const lineItem of packingList.line_items) {\n  if (lineItem.sku in replacements) {\n  lineItem.sku = replacements[lineItem.sku];\n}\n}\n\nreturn packingList;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2624, -640],
      "id": "0c826e8b-6dae-4bee-b3b0-946a293bee21",
      "name": "Heal candidates"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.corrected }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "ee212876-515d-47e6-bce0-75f3e7f695c6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "true"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [2256, -624],
      "id": "64f7fcae-4595-4dc4-aece-2dec80c7bedf",
      "name": "Has candidates"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"file\": \"{{ $('Get PDF').item.json.path }}\",\n  \"status\": \"ERROR\",\n\"details\":{{ $('Healing agent').item.json.output }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2464, -352],
      "id": "138a38c6-6acd-42c8-96d8-19b42c84e3ad",
      "name": "Healing failed"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('Extraction agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1040, -688],
      "id": "5b3790e5-90fc-48b7-9144-ddb42306a956",
      "name": "Set PL extraction data"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"file\": \"{{ $('Get PDF').item.json.path }}\",\n  \"status\": \"COMPLETED\",\n  \"reason\": \"Extraction and cross referencing completed\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2048, -336],
      "id": "a2443404-3c34-407c-934f-30dee9239776",
      "name": "Completed"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "85ab810a-65da-4715-aab0-3dbdd0c600a5",
                    "leftValue": "={{ $json.skuCountMatched === true && $json.skuTextMatched === false && $prevNode.runIndex === 0}}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SKU name mismatch"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ok }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "f5992077-9173-47d0-abab-4308fc8a6e73"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "OK"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [1520, -704],
      "id": "b306a094-4fd5-4e40-a562-62c69c3ca641",
      "name": "Check reference result"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "document_processor_log",
          "cachedResultUrl": "/projects/1/datatables/1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fileName": "={{ $('Get PDF').item.json.path }}",
            "status": "HEALING",
            "details": "={{ JSON.stringify($json.output) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [2448, -640],
      "id": "93f86ba3-d8c2-4bd6-bc29-6cc1d95e1fbe",
      "name": "Log healing"
    },
    {
      "parameters": {
        "content": "## Log status and move file\nSets the log info and proceeds to update the data table and move the file to the corresponding folder.\n",
        "height": 288,
        "width": 1856,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1184, -368],
      "id": "2eb61a22-8626-41dc-b2f5-231ce3e3a4fb",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Monitor pending folder \nPeriodically checks the pending folder and gets the file if it's a PDF.",
        "height": 336,
        "width": 868,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1152, -576],
      "id": "e2b23de3-9167-4d3f-a15f-24a1774f47cf",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Log pending action\nAdds a new row to the log data table indicating that the processing has started.",
        "height": 336,
        "width": 256,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-288, -576],
      "id": "bb934508-c81b-4e46-8f77-8818db30a6f0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Execute docling pipeline\nPosts the PDF to the docling-serve API using multipart. Enforces OCR, sets rapidocr as engine and english language ",
        "height": 336,
        "width": 416,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-32, -576],
      "id": "3555d4ae-f103-45f3-aed2-028a1a12b544",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5a80451a-5d83-4663-941b-96cb64b9945b",
              "leftValue": "={{$json.path.toLowerCase().slice(-4) }}",
              "rightValue": ".pdf",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [-688, -448],
      "id": "5e5d6a36-7fcd-46fe-ba98-11e0470aa042",
      "name": "is .pdf"
    },
    {
      "parameters": {
        "content": "## Extraction Agent\nThe docling output is processed by a local Ollama AI agent. \n- It uses the Gemma4 12B model\n- The output structure is forced into a canonical model of a packing list so that it can be cross referenced further downstream.",
        "height": 528,
        "width": 432,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [384, -896],
      "id": "deb567d9-dec9-4d03-8c5a-1f26d6ea9a7c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Setting comparison data\nThe purchase order data is pulled into the process for comparison. The cross-reference node expects the extraction data to be the current input, so this part also resets the input back to the extraction agent's output.",
        "height": 528,
        "width": 368,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [816, -896],
      "id": "2a570188-7683-4b76-8982-2563f1bc4454",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Cross referencing\nBoth the extracted PL data and the PO data are cross referenced using a script.\nIt returns a json with a couple of checks that is routed based on the result:\n\n- OK -> completed branch\n- SKU count is correct but sku texts mismatch -> try once to find and heal OCR errors\n- Any other case -> error branch",
        "height": 528,
        "width": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1184, -896],
      "id": "87953fc6-3021-42b4-a2aa-98cc1ce44cfc",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Healing agent\nAn AI agent looks for OCR mistakes that can be healed. In this case it looks at the SKUs from the purchase order that didn't get matched in the packing list, figures out what a \"normal\" SKU is supposed to look like and then checks if any odd-looking packing-list codes are an OCR mistake.\n\nReturns a structured output with candidate SKU's to be healed including the AI's reasoning.\n",
        "height": 528,
        "width": 448,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [1776, -896],
      "id": "853b59ae-b73d-4953-888a-e4fa76033878",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Heal OCR mistakes\nIf there are candidates to heal:\n- the log data table gets updated with the response of the AI healing agent\n- a script fixes the misread SKUs in the extraction data, looking up any `misreadSku` in the packing list data and replacing it with the corresponding `actualSku` from the candidates.\n- the _cross referencing_ node is re-triggered.\n\nIf there are no candidates then the error branch is triggered.",
        "height": 528,
        "width": 528,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [2224, -896],
      "id": "8bfba0a8-d2bb-4032-896c-3b742a814e40",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [-1104, -448],
      "id": "44bf7a13-62f3-41db-8a18-8eb95e5ad373",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "1",
          "mode": "list",
          "cachedResultName": "document_processor_log",
          "cachedResultUrl": "/projects/1/datatables/1"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fileName": "={{ $json.file }}",
            "status": "={{ $json.status }}",
            "details": "={{ JSON.stringify($json.details) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [2640, -256],
      "id": "3454cf8b-2599-4ad7-8a69-38556754308c",
      "name": "Log status"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "list",
        "path": "pending",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [-912, -448],
      "id": "2f71a16c-6589-441e-9d8c-d00ee210c9de",
      "name": "List files",
      "credentials": {
        "sftp": {
          "id": "1",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "path": "={{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [-464, -448],
      "id": "c70787bb-3414-428f-807e-13ac99b9aa9f",
      "name": "Get PDF",
      "credentials": {
        "sftp": {
          "id": "1",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "rename",
        "oldPath": "={{ $('Get PDF').item.json.path }}",
        "newPath": "={{$json.status.toLowerCase()}}/{{ $('Get PDF').item.json.name }}",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [2848, -256],
      "id": "d67df362-381c-4352-ad1c-f8aba589b9c4",
      "name": "Move file",
      "credentials": {
        "sftp": {
          "id": "1",
          "name": "SFTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const dummyOrders = [\n  {\n    \"po_number\": \"PO-33959\",\n    \"po_date\": \"2026-02-27\",\n    \"vendor\": {\n      \"company_name\": \"ACME CORP EUROPE\",\n      \"contact\": \"Willy E Coyote\",\n      \"email\": \"wec@acme.fakedomail\",\n      \"address\": {\n        \"address\": \"Marktgracht 12\",\n        \"postal_code\": \"1012 XX\",\n        \"city\": \"Amsterdam\",\n        \"country\": \"The Netherlands\"\n      }\n    },\n    \"ship_to\": {\n      \"company_name\": \"ATE Commerce\",\n      \"contact\": \"Adam Tetz\",\n      \"email\": \"ate@commerce.fakedomail\",\n      \"address\": {\n        \"address\": \"21 Rue Industriel\",\n        \"postal_code\": \"21000\",\n        \"city\": \"Dijon\",\n        \"country\": \"France\"\n      }\n    },\n    \"line_items\": [\n      {\n        \"sku\": \"JSA-7351-AC\",\n        \"description\": \"Lightweight Jacket\",\n        \"quantity\": 520,\n        \"unit_price\": 2029.39,\n        \"total\": 1055282.8\n      },\n      {\n        \"sku\": \"SPD-1591-MW\",\n        \"description\": \"Ergonomic Smartwatch\",\n        \"quantity\": 769,\n        \"unit_price\": 1554.09,\n        \"total\": 1195095.21\n      },\n      {\n        \"sku\": \"OTI-7434-FO\",\n        \"description\": \"Waterproof Monitor\",\n        \"quantity\": 679,\n        \"unit_price\": 2204.15,\n        \"total\": 1496617.85\n      },\n      {\n        \"sku\": \"UOC-6772-GF\",\n        \"description\": \"Wireless Smartwatch\",\n        \"quantity\": 38,\n        \"unit_price\": 2427.74,\n        \"total\": 92254.12\n      },\n      {\n        \"sku\": \"OVW-7817-MP\",\n        \"description\": \"High-Performance Speaker\",\n        \"quantity\": 763,\n        \"unit_price\": 2868.58,\n        \"total\": 2188726.54\n      },\n      {\n        \"sku\": \"OQR-3802-KA\",\n        \"description\": \"Lightweight Laptop\",\n        \"quantity\": 669,\n        \"unit_price\": 2383.22,\n        \"total\": 1594374.18\n      },\n      {\n        \"sku\": \"XCE-6311-FL\",\n        \"description\": \"Eco-Friendly Jacket\",\n        \"quantity\": 803,\n        \"unit_price\": 3845.93,\n        \"total\": 3088281.79\n      }\n    ],\n    \"totals\": {\n      \"currency\": \"EUR\",\n      \"subtotal\": 10710632.49,\n      \"tax_rate\": 0.21,\n      \"tax_amount\": 2249232.82,\n      \"shipping\": 17.44,\n      \"total\": 12959882.75\n    },\n    \"ship_via\": \"UPS\",\n    \"terms\": \"DAP\",\n    \"notes\": \"Deliver to reception desk only\"\n  },\n  {\n    \"po_number\": \"PO-40085\",\n    \"po_date\": \"2026-03-07\",\n    \"vendor\": {\n      \"company_name\": \"Stark Industries Ltd\",\n      \"contact\": \"Tony Stark\",\n      \"email\": \"tony@starkindustries.fakedomail\",\n      \"address\": {\n        \"address\": \"8 Iron Street\",\n        \"postal_code\": \"D08 1X2Y\",\n        \"city\": \"Dublin 8\",\n        \"country\": \"Ireland\"\n      }\n    },\n    \"ship_to\": {\n      \"company_name\": \"ATE Commerce\",\n      \"contact\": \"Adam Tetz\",\n      \"email\": \"ate@commerce.fakedomail\",\n      \"address\": {\n        \"address\": \"21 Rue Industriel\",\n        \"postal_code\": \"21000\",\n        \"city\": \"Dijon\",\n        \"country\": \"France\"\n      }\n    },\n    \"line_items\": [\n      {\n        \"sku\": \"NJJ-6054-RM\",\n        \"description\": \"Modern Vacuum Cleaner\",\n        \"quantity\": 34,\n        \"unit_price\": 1500.85,\n        \"total\": 51028.9\n      },\n      {\n        \"sku\": \"VRD-9027-NG\",\n        \"description\": \"Vintage Headphones\",\n        \"quantity\": 330,\n        \"unit_price\": 3633.69,\n        \"total\": 1199117.7\n      },\n      {\n        \"sku\": \"JEX-2620-FB\",\n        \"description\": \"Professional Mouse\",\n        \"quantity\": 236,\n        \"unit_price\": 2954.07,\n        \"total\": 697160.52\n      },\n      {\n        \"sku\": \"YEX-9548-VJ\",\n        \"description\": \"Portable Smartwatch\",\n        \"quantity\": 786,\n        \"unit_price\": 1271.13,\n        \"total\": 999108.18\n      },\n      {\n        \"sku\": \"MTR-2076-XK\",\n        \"description\": \"Classic Keyboard\",\n        \"quantity\": 987,\n        \"unit_price\": 204.06,\n        \"total\": 201407.22\n      },\n      {\n        \"sku\": \"RYD-4918-HI\",\n        \"description\": \"Deluxe Jacket\",\n        \"quantity\": 940,\n        \"unit_price\": 3459.47,\n        \"total\": 3251901.8\n      }\n    ],\n    \"totals\": {\n      \"currency\": \"EUR\",\n      \"subtotal\": 6399724.32,\n      \"tax_rate\": 0.21,\n      \"tax_amount\": 1343942.11,\n      \"shipping\": 18.61,\n      \"total\": 7743685.04\n    },\n    \"ship_via\": \"UPS\",\n    \"terms\": \"DAP\",\n    \"notes\": \"Place in dry location — keep away from rain\"\n  },\n  {\n    \"po_number\": \"PO-26076\",\n    \"po_date\": \"2026-03-14\",\n    \"vendor\": {\n      \"company_name\": \"ACME CORP EUROPE\",\n      \"contact\": \"Willy E Coyote\",\n      \"email\": \"wec@acme.fakedomail\",\n      \"address\": {\n        \"address\": \"Marktgracht 12\",\n        \"postal_code\": \"1012 XX\",\n        \"city\": \"Amsterdam\",\n        \"country\": \"The Netherlands\"\n      }\n    },\n    \"ship_to\": {\n      \"company_name\": \"ATE Commerce\",\n      \"contact\": \"Adam Tetz\",\n      \"email\": \"ate@commerce.fakedomail\",\n      \"address\": {\n        \"address\": \"21 Rue Industriel\",\n        \"postal_code\": \"21000\",\n        \"city\": \"Dijon\",\n        \"country\": \"France\"\n      }\n    },\n    \"line_items\": [\n      {\n        \"sku\": \"HNS-5153-CB\",\n        \"description\": \"Ergonomic Laptop\",\n        \"quantity\": 858,\n        \"unit_price\": 75.14,\n        \"total\": 64470.12\n      },\n      {\n        \"sku\": \"IBR-3248-VF\",\n        \"description\": \"Ergonomic Mouse\",\n        \"quantity\": 334,\n        \"unit_price\": 2830.18,\n        \"total\": 945280.12\n      },\n      {\n        \"sku\": \"MZH-9996-FT\",\n        \"description\": \"Deluxe Smartwatch\",\n        \"quantity\": 543,\n        \"unit_price\": 506.37,\n        \"total\": 274958.91\n      },\n      {\n        \"sku\": \"QAD-1840-QQ\",\n        \"description\": \"High-Performance Smartphone\",\n        \"quantity\": 353,\n        \"unit_price\": 1654.26,\n        \"total\": 583953.78\n      },\n      {\n        \"sku\": \"JWU-5632-SO\",\n        \"description\": \"Premium Vacuum Cleaner\",\n        \"quantity\": 957,\n        \"unit_price\": 1312.59,\n        \"total\": 1256148.63\n      },\n      {\n        \"sku\": \"LXZ-6185-IS\",\n        \"description\": \"Waterproof Coffee Maker\",\n        \"quantity\": 983,\n        \"unit_price\": 3611.61,\n        \"total\": 3550212.63\n      },\n      {\n        \"sku\": \"AMP-8022-ZX\",\n        \"description\": \"Eco-Friendly Vacuum Cleaner\",\n        \"quantity\": 488,\n        \"unit_price\": 2192.81,\n        \"total\": 1070091.28\n      },\n      {\n        \"sku\": \"OKE-4827-OW\",\n        \"description\": \"Professional Speaker\",\n        \"quantity\": 44,\n        \"unit_price\": 3870.25,\n        \"total\": 170291.0\n      },\n      {\n        \"sku\": \"PVP-9315-JD\",\n        \"description\": \"Ergonomic Water Bottle\",\n        \"quantity\": 729,\n        \"unit_price\": 3294.05,\n        \"total\": 2401362.45\n      },\n      {\n        \"sku\": \"BAM-1980-IW\",\n        \"description\": \"Ergonomic Backpack\",\n        \"quantity\": 287,\n        \"unit_price\": 3452.15,\n        \"total\": 990767.05\n      },\n      {\n        \"sku\": \"JZX-4493-SF\",\n        \"description\": \"Heavy-Duty Gaming Chair\",\n        \"quantity\": 16,\n        \"unit_price\": 3862.22,\n        \"total\": 61795.52\n      },\n      {\n        \"sku\": \"HZG-4195-XM\",\n        \"description\": \"Vintage Vacuum Cleaner\",\n        \"quantity\": 906,\n        \"unit_price\": 333.17,\n        \"total\": 301852.02\n      },\n      {\n        \"sku\": \"EDF-7965-XM\",\n        \"description\": \"Compact Gaming Chair\",\n        \"quantity\": 880,\n        \"unit_price\": 2334.8,\n        \"total\": 2054624.0\n      },\n      {\n        \"sku\": \"FWK-9217-PN\",\n        \"description\": \"Smart Sneakers\",\n        \"quantity\": 804,\n        \"unit_price\": 3675.1,\n        \"total\": 2954780.4\n      }\n    ],\n    \"totals\": {\n      \"currency\": \"EUR\",\n      \"subtotal\": 16680587.91,\n      \"tax_rate\": 0.21,\n      \"tax_amount\": 3502923.46,\n      \"shipping\": 27.96,\n      \"total\": 20183539.33\n    },\n    \"ship_via\": \"UPS\",\n    \"terms\": \"DDP\",\n    \"notes\": \"Do not stack other packages on top\"\n  },\n  {\n    \"po_number\": \"PO-84392\",\n    \"po_date\": \"2026-03-15\",\n    \"vendor\": {\n      \"company_name\": \"ACME CORP EUROPE\",\n      \"contact\": \"Willy E Coyote\",\n      \"email\": \"wec@acme.fakedomail\",\n      \"address\": {\n        \"address\": \"Marktgracht 12\",\n        \"postal_code\": \"1012 XX\",\n        \"city\": \"Amsterdam\",\n        \"country\": \"The Netherlands\"\n      }\n    },\n    \"ship_to\": {\n      \"company_name\": \"ATE Commerce\",\n      \"contact\": \"Adam Tetz\",\n      \"email\": \"ate@commerce.fakedomail\",\n      \"address\": {\n        \"address\": \"21 Rue Industriel\",\n        \"postal_code\": \"21000\",\n        \"city\": \"Dijon\",\n        \"country\": \"France\"\n      }\n    },\n    \"line_items\": [\n      {\n        \"sku\": \"JHG-8126-LQ\",\n        \"description\": \"Wireless Air Purifier\",\n        \"quantity\": 863,\n        \"unit_price\": 2365.55,\n        \"total\": 2041469.65\n      },\n      {\n        \"sku\": \"CEK-9014-BO\",\n        \"description\": \"Classic Air Purifier\",\n        \"quantity\": 867,\n        \"unit_price\": 380.77,\n        \"total\": 330127.59\n      },\n      {\n        \"sku\": \"FAB-1283-LX\",\n        \"description\": \"Deluxe Monitor\",\n        \"quantity\": 346,\n        \"unit_price\": 3329.24,\n        \"total\": 1151917.04\n      },\n      {\n        \"sku\": \"FRM-6272-XW\",\n        \"description\": \"Limited Edition Blender\",\n        \"quantity\": 103,\n        \"unit_price\": 2878.72,\n        \"total\": 296508.16\n      },\n      {\n        \"sku\": \"DKD-8564-TU\",\n        \"description\": \"Classic Speaker\",\n        \"quantity\": 808,\n        \"unit_price\": 2813.42,\n        \"total\": 2273243.36\n      },\n      {\n        \"sku\": \"DYJ-8638-QI\",\n        \"description\": \"Lightweight Blender\",\n        \"quantity\": 724,\n        \"unit_price\": 1511.03,\n        \"total\": 1093985.72\n      },\n      {\n        \"sku\": \"RDY-3704-RN\",\n        \"description\": \"Deluxe Tablet\",\n        \"quantity\": 829,\n        \"unit_price\": 491.82,\n        \"total\": 407718.78\n      },\n      {\n        \"sku\": \"FVQ-5777-DL\",\n        \"description\": \"Portable Jacket\",\n        \"quantity\": 222,\n        \"unit_price\": 728.44,\n        \"total\": 161713.68\n      },\n      {\n        \"sku\": \"OIT-3911-BJ\",\n        \"description\": \"Deluxe Sneakers\",\n        \"quantity\": 355,\n        \"unit_price\": 1486.33,\n        \"total\": 527647.15\n      },\n      {\n        \"sku\": \"OIV-1792-TV\",\n        \"description\": \"Ultra Jacket\",\n        \"quantity\": 411,\n        \"unit_price\": 2044.18,\n        \"total\": 840157.98\n      },\n      {\n        \"sku\": \"XEY-1946-DY\",\n        \"description\": \"Modern Smartphone\",\n        \"quantity\": 868,\n        \"unit_price\": 1636.02,\n        \"total\": 1420065.36\n      }\n    ],\n    \"totals\": {\n      \"currency\": \"EUR\",\n      \"subtotal\": 10544554.47,\n      \"tax_rate\": 0.21,\n      \"tax_amount\": 2214356.44,\n      \"shipping\": 44.44,\n      \"total\": 12758955.35\n    },\n    \"ship_via\": \"UPS\",\n    \"terms\": \"DAP\",\n    \"notes\": \"Contact sender before returning to depot\"\n  },\n  {\n    \"po_number\": \"PO-04677\",\n    \"po_date\": \"2026-02-17\",\n    \"vendor\": {\n      \"company_name\": \"ACME CORP EUROPE\",\n      \"contact\": \"Willy E Coyote\",\n      \"email\": \"wec@acme.fakedomail\",\n      \"address\": {\n        \"address\": \"Marktgracht 12\",\n        \"postal_code\": \"1012 XX\",\n        \"city\": \"Amsterdam\",\n        \"country\": \"The Netherlands\"\n      }\n    },\n    \"ship_to\": {\n      \"company_name\": \"ATE Commerce\",\n      \"contact\": \"Adam Tetz\",\n      \"email\": \"ate@commerce.fakedomail\",\n      \"address\": {\n        \"address\": \"21 Rue Industriel\",\n        \"postal_code\": \"21000\",\n        \"city\": \"Dijon\",\n        \"country\": \"France\"\n      }\n    },\n    \"line_items\": [\n      {\n        \"sku\": \"GII-4152-UW\",\n        \"description\": \"Limited Edition Mouse\",\n        \"quantity\": 806,\n        \"unit_price\": 1556.75,\n        \"total\": 1254740.5\n      },\n      {\n        \"sku\": \"GRI-1517-RO\",\n        \"description\": \"Smart Speaker\",\n        \"quantity\": 873,\n        \"unit_price\": 1532.37,\n        \"total\": 1337759.01\n      },\n      {\n        \"sku\": \"ICH-7308-FC\",\n        \"description\": \"Professional Backpack\",\n        \"quantity\": 333,\n        \"unit_price\": 779.33,\n        \"total\": 259516.89\n      },\n      {\n        \"sku\": \"CTH-9779-OF\",\n        \"description\": \"Premium Vacuum Cleaner\",\n        \"quantity\": 592,\n        \"unit_price\": 1557.92,\n        \"total\": 922288.64\n      },\n      {\n        \"sku\": \"PVD-5722-VY\",\n        \"description\": \"Wireless Sneakers\",\n        \"quantity\": 658,\n        \"unit_price\": 3913.91,\n        \"total\": 2575352.78\n      },\n      {\n        \"sku\": \"FEA-2165-HC\",\n        \"description\": \"Portable Smartwatch\",\n        \"quantity\": 221,\n        \"unit_price\": 612.26,\n        \"total\": 135309.46\n      },\n      {\n        \"sku\": \"AQT-1055-WK\",\n        \"description\": \"Organic Coffee Maker\",\n        \"quantity\": 721,\n        \"unit_price\": 630.61,\n        \"total\": 454669.81\n      }\n    ],\n    \"totals\": {\n      \"currency\": \"EUR\",\n      \"subtotal\": 6939637.09,\n      \"tax_rate\": 0.21,\n      \"tax_amount\": 1457323.79,\n      \"shipping\": 21.53,\n      \"total\": 8396982.41\n    },\n    \"ship_via\": \"UPS\",\n    \"terms\": \"DDP\",\n    \"notes\": \"Do not stack other packages on top\"\n  },\n  {\n    \"po_number\": \"PO-08157\",\n    \"po_date\": \"2026-02-24\",\n    \"vendor\": {\n      \"company_name\": \"ACME CORP EUROPE\",\n      \"contact\": \"Willy E Coyote\",\n      \"email\": \"wec@acme.fakedomail\",\n      \"address\": {\n        \"address\": \"Marktgracht 12\",\n        \"postal_code\": \"1012 XX\",\n        \"city\": \"Amsterdam\",\n        \"country\": \"The Netherlands\"\n      }\n    },\n    \"ship_to\": {\n      \"company_name\": \"ATE Commerce\",\n      \"contact\": \"Adam Tetz\",\n      \"email\": \"ate@commerce.fakedomail\",\n      \"address\": {\n        \"address\": \"21 Rue Industriel\",\n        \"postal_code\": \"21000\",\n        \"city\": \"Dijon\",\n        \"country\": \"France\"\n      }\n    },\n    \"line_items\": [\n      {\n        \"sku\": \"TRI-5562-RC\",\n        \"description\": \"Lightweight Water Bottle\",\n        \"quantity\": 472,\n        \"unit_price\": 3307.33,\n        \"total\": 1561059.76\n      },\n      {\n        \"sku\": \"WXR-7097-HH\",\n        \"description\": \"Professional Smartwatch\",\n        \"quantity\": 937,\n        \"unit_price\": 665.48,\n        \"total\": 623554.76\n      },\n      {\n        \"sku\": \"TFE-2631-MU\",\n        \"description\": \"Ultra Keyboard\",\n        \"quantity\": 67,\n        \"unit_price\": 2127.59,\n        \"total\": 142548.53\n      },\n      {\n        \"sku\": \"LHY-3172-OA\",\n        \"description\": \"Organic Camera\",\n        \"quantity\": 923,\n        \"unit_price\": 2127.47,\n        \"total\": 1963654.81\n      },\n      {\n        \"sku\": \"WPI-9937-VQ\",\n        \"description\": \"Deluxe Vacuum Cleaner\",\n        \"quantity\": 158,\n        \"unit_price\": 2535.58,\n        \"total\": 400621.64\n      }\n    ],\n    \"totals\": {\n      \"currency\": \"EUR\",\n      \"subtotal\": 4691439.5,\n      \"tax_rate\": 0.21,\n      \"tax_amount\": 985202.29,\n      \"shipping\": 41.19,\n      \"total\": 5676682.98\n    },\n    \"ship_via\": \"UPS\",\n    \"terms\": \"DAP\",\n    \"notes\": \"Contact sender before returning to depot\"\n  }\n]\n\n\nreturn dummyOrders.filter(order => order.po_number === $input.first().json.output.po_number);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [864, -688],
      "id": "c6db611a-8cd6-486e-a1ce-4af3f449dfcd",
      "name": "get dummy purchase order"
    },
    {
      "parameters": {
        "content": "## Match packing list PDFs to purchase orders using docling-serve and Ollama\n\n**How it works**\n1. Monitor SFTP folder for new PDFs\n2. Log: processing started\n3. Send PDF to docling-serve (OCR, rapidocr, English)\n4. AI agent extracts docling output → canonical packing list structure\n5. Pull in matching PO data for comparison\n6. Cross-reference PL vs PO data (script) →\n   - ✅ Match → Completed\n   - ⚠️ SKU count OK, text mismatch → Healing attempt\n   - ❌ Other mismatch → Error\n7. Healing agent: finds unmatched SKUs, infers OCR misreads, returns candidates + reasoning\nIf candidates found: log healing result → fix SKUs in extraction data → re-run cross-reference\nIf none: → Error\nLog final status, move file to matching folder\n\n**Setup**\n  - [ ] SFTP server that has pending, complete and error folders:\n  - [ ] [n8n data table](https://docs.n8n.io/build/work-with-data/data-tables) for logging\n  - [ ] [Ollama](https://ollama.com/) or other AI service\n  - [ ] [docling-serve ](https://github.com/docling-project/docling-serve/tree/main)\nTestfiles are available in the [Github repository]()\n\n\n",
        "height": 624,
        "width": 704
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-1152, -1248],
      "id": "fe285113-c219-4b02-a8b5-f1dc48144912",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Log pending": {
      "main": [
        [
          {
            "node": "Post PDF to docling-serve",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post PDF to docling-serve": {
      "main": [
        [
          {
            "node": "conversion success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama gemma4:12b": {
      "ai_languageModel": [
        [
          {
            "node": "Extraction agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Healing agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "conversion success": {
      "main": [
        [
          {
            "node": "Extraction agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Docling conversion failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cross reference": {
      "main": [
        [
          {
            "node": "Check reference result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docling conversion failed": {
      "main": [
        [
          {
            "node": "Log status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraction agent": {
      "main": [
        [
          {
            "node": "get dummy purchase order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cross referencing failed": {
      "main": [
        [
          {
            "node": "Log status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Healing agent": {
      "main": [
        [
          {
            "node": "Has candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Healing Agent Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Healing agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extraction Agent Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extraction agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Heal candidates": {
      "main": [
        [
          {
            "node": "Cross reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has candidates": {
      "main": [
        [
          {
            "node": "Log healing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Healing failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Healing failed": {
      "main": [
        [
          {
            "node": "Log status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set PL extraction data": {
      "main": [
        [
          {
            "node": "Cross reference",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Completed": {
      "main": [
        [
          {
            "node": "Log status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check reference result": {
      "main": [
        [
          {
            "node": "Healing agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Completed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cross referencing failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log healing": {
      "main": [
        [
          {
            "node": "Heal candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is .pdf": {
      "main": [
        [
          {
            "node": "Get PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files": {
      "main": [
        [
          {
            "node": "is .pdf",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log status": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PDF": {
      "main": [
        [
          {
            "node": "Log pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get dummy purchase order": {
      "main": [
        [
          {
            "node": "Set PL extraction data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c3da6232-bff5-40c8-a2fc-0d1d68536abf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "421d80eb6a07798f5ef49b2a7982c6e98090976e76211f4c6391caae28ced41f"
  },
  "id": "v7cRvhAfnAjo0mAD",
  "tags": []
}
